//Landscape tablet and up
@media (min-width: 768px){
	.cm-app-tile-wrapper{
		width: 430px;
		margin: 53px auto 0;
	}
	.cm-app-login-wrapper{
		width: 430px;
		margin: 36px auto 0;
	}
}

//Landscape tablet and up
@media (min-width: 1024px){
	.cm-app-tile-wrapper{
		width: auto;
		margin-top: 280px;
		padding: 0 25px 0 15px;
	}
	.cm-sn-logo{
		width: 127px;
	}
	.cm-app-title{
		margin-top: 22px;
		font-size: 75px;
		line-height: 75px;
	}
}