footer(class=['cm-footer'])
	div(class=['cm-footer-text-wrapper'])
		//- Replace text with dynamic data
		p(class=['cm-container','cm-footer-text']) 
			| COPYRIGHT &copy; 2006-2014 &nbsp;
			span(class="cm-footer-text-bold") SAPIENT
		div(class=['cm-footer-pattern'])